<apex:component controller="LCBSNavigation">
 <!-- <apex:stylesheet value="{!URLFOR('https://az843473.vo.msecnd.net/css/core.css')}"/> -->
 <apex:stylesheet value="{!URLFOR($Resource.LCBS_SFDCCoreCSS, 'CSS/sfdc-core.min.css')}"/>
<Style>
.logo {
    /*background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png');*/


    background-image: url({!$Resource.Honeywell_Logo_Latest}) !important;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250px; /*20px;*/
    margin-right: 1.250px; /*20px;*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {width:100%}



body{background:none !important}

html, body{font-size:100% !important}
ul li, ol li {margin-left:0}
.applicationName{font-size:19px}
</Style>
 <style type="text/css">
        
        /* Typography */
        @font-face {
            font-family: 'Honeywell Sans Book';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Book.woff')}");
        }
        
        @font-face {
            font-family: 'Honeywell Sans';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Black.woff')}");
        }
        
        @font-face {
            font-family: 'Honeywell Sans Bold';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Bold.woff')}");            
        }
        
        @font-face {
            font-family: 'Honeywell Sans Medium';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Medium.woff')}"); 
        }
        
        /* Font changing */
        *{
           font-family: 'Honeywell Sans Book'; 
        }
        body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6{
            font-family: 'Honeywell Sans Book';
        }
        h1, h2, h3, h4, h5, h6{
            font-family: 'Honeywell Sans Book'; 
        }
        html{
            font-family: 'Honeywell Sans Book';
        }
        
        /* Body Level */
        body a:hover {
            text-decoration: none;
            color: inherit;
        }
        body{
            font-size: 11px !important;
        }
        iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
            font-size: initial;
        }
        body > form{
            height: 100%;
        }
        
        /* custome */
        .contentTitle{
            font-family: 'Honeywell Sans Book';
            font-size: 24px;
            text-transform: capitalize;
            color: #303030;
            font-weight: normal;
        }
        .bodyText{
            font-family: 'Honeywell Sans Book';
            font-size: 12px;
        }
        .linkText{
            font-family: 'Honeywell Sans Book';
            font-size: 12px;
            color: #1792e5;
        }
        .smallLabelText{
            font-family: 'Honeywell Sans Bold';
            font-size: 11px;
            color: #707070;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .largeLabelText{
            font-family: 'Honeywell Sans Medium';
            font-size: 16px;
            color: #303030;
        }
        .tabHeader{
            font-family: 'Honeywell Sans Book';
            font-size: 16px;
            text-transform: capitalize;
            color: #303030;
        }
        .formField{
            font-family: 'Honeywell Sans Book';
            font-size: 12px;
            padding: 10px;
        }
        
        
        /* Buttons */
        .cmn-btn{
            font-size: 14px;
            font-family: 'Honeywell Sans Bold';
            text-transform: uppercase;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 15px;
            padding-left: 15px;
            
            -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.28);
            -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.28);
            -ms-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.28);
            -o-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.28);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.28);
        }
        .primaryButton{
            background-color: #1272b2;
            width: 145px;
            height: 38px;
            color: #ffffff;
        }
        .primaryButton.active{
            background-color: #1272B2;
            color: #ffffff;
        }
        .primaryButton:hover{
            background-color: #1483cd;
            color: #ffffff;
        }
        
        .secondaryButton{
            width: 145px;
            height: 38px;
            background-color: #f5f5f5;
        }
        .secondaryButton:hover{
            background-color: #ffffff;
        }
        .secondaryButton.active{
            background-color: #a0a0a0,;
            box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.28);
        }  
        
        
        /* CORE CSS Overrides */
        .primary-button{
            background-color: #1483cd;
            font-family: 'Honeywell Sans Bold';  
            font-size: 1em; 
        }
        .primary-button:hover{
            background-color: #1792e5;
        }
        .primary-button:active{
            background-color: #1272B2;
        }
        .secondary-button{
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;
        }
        
        .primary-button:disabled, .secondary-button:disabled, .action-button:disabled{
            color: #a9a9a9;
            background-color: #d8d8d8;
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;
        }
        
        .cmn-btn.inline, .cmn-btn.inline-block{
            width: auto;
            height: auto;
        }
        .cmn-btn.inline{
            display: inline;
        }
        .cmn-btn.inline-block{
            display: inline-block;
        }
        .cmn-btn.box-shadow-none{
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
        }
        /* TODO */
        @media (max-width: 1024px){
            .cmn-btn{margin-top: 5px;padding:5px;font-size: 10px;}
            .cmn-btn.inline{display: inline-block;}    
        }
        
        /* Tabs */
        .tab-dropdown > .dropdown{display:none;}
        @media (max-width: 912px){
            .tab-content{padding: 0;}
            .tab-content #main-body{padding:0}
            .tab-content #main-body .main{
                padding-right: 0;
                -webkit-flex: 0 0 auto;
                -moz-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                -o-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 100%;
            }
            
            nav.tabs{display:none;}
            .tab-dropdown{padding:5px 20px;}
            .tab-dropdown > .dropdown{display:block;block;background: #fff;padding: 10px;}
            .tab-dropdown > .dropdown a{font-size: 16px;color: #303030;display:block;}
            .tab-dropdown > .dropdown .dropdown-menu{top: 38px;}
            .tab-dropdown > .dropdown a:hover{color: #1792e5;font-size: 16px;}
            
        }
        
        .margin-bottom-20{
            margin-bottom: 20px;
        }
        
        /* widget Box */
        .widget-box{
            background: #fff;
            padding: 20px 15px;
            width:100%;
        }
        @media (max-width: 1024px){
            .widget-box{padding: 5px 0;}
        }
        
        
        
        /* Header */  
        /* TODO */     
        header#main-header .logo{
            background-image: url({!$Resource.Honeywell_Logo_Latest});
        }
        
        header#main-header .help{
            /* background-image: url({!$Resource.Honeywell_Help}); -- Old Logo */ 
            background-image: url("https://az843473.vo.msecnd.net/common-images/help_gray.png");
            background-size: 20px 20px;
            width: 20px;
            margin-left: 5px;
        }
        /*lcbsCaret */
        .headerCaret{
            /* background-image: url("http://az843473.vo.msecnd.net/common-images/blue_arrow_dropdown.png"); */
            background-image: url("http://az843473.vo.msecnd.net/common-images/right_arrow.png");
            float: right;
            /* position: fixed; */
            left: 0;
            width: 24px;
            height: 24px;
            /* background-size: 15px; */
            background-size: 8px;
            background-repeat: no-repeat;
            top: 21px;
            left: -26px;
            
            -o-transform: rotate(90deg); /* Opera */
            -ms-transform: rotate(90deg); /* IE 9 */
            -moz-transform: rotate(90deg); /* mozilla */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }
        
        .header-row{
             min-height: auto;
        }
        
        ul li, ol li{
            margin-left: 0;
            padding-left: 0;
        }
        nav#main-nav a{
            font-family: 'Honeywell Sans Bold' !important;
        }
        #main-tab nav.tabs a{
            text-transform: uppercase;
        }
        @media (min-width: 1025px){
            header#main-header .dropdown a:hover{color: inherit;}
            a.user-name.dropdown-toggle{
                
            }
        }
        
        /* Footer */
        footer, footer > section{
            font-size: 11px;
        }
        
        /* Distbutor Contract Page Styles */
        #main-body{
            padding:15px 20px;
        }
        .rightSide{
            float: right;
        }
        .cpro-field{
            right: 0;
            bottom: 0;
            float: right;
            position:absolute;
        }
        .titleBar{
            width:100%;
            clear: both;
        }
        /* TODO */
        @media (max-width: 1024px){
            .cpro-field{position: relative;width: 100%;}
            .cpro-field > input[type="text"]{width:80%;}
            .formField{padding: 1px;}
        }
        /* TODO  -- duplicate*/
        .requiredInput select, .condRequiredInput select{
            font-family: 'Honeywell Sans Book';
            font-size: 12px;
            padding: 10px;
        }
        @media (max-width: 1024px){
            .requiredInput select, .condRequiredInput select{
                padding: 1px;
            }
        }
        
        /* Errors Handlings */
        #dispError{
            padding: 5px;
            border: 1px solid rgba(230, 80, 72, 0.3);
            background: rgba(230, 80, 72, 0.1);
            margin-top: 10px;
            border-radius: 4px;
            display:none;
        }
        #dispError label{
            border: 2px; */
            color: #E65048;
            /* font-size: 15px; */
            /* height: 20%; */
            /* width: 100%; */
            padding-top: -25%;
            /* padding-bottom: 8%; */
            /* margin-left: 8%; */
            margin-right: 2%;
            /* font-family: Honewell; */
            font-weight: 900;
            top: -8px;
            position: relative;
            /* height: 100%; */
            padding: -10px;
        }
        span.bodyText.required, label.bodyText.required{
            color: #E65048 !important;
        }
        label.bodyText.required{
            margin-left: 2%;
        }
        @media (min-width: 1025px){
            #dispError{
                max-width: 960px;
                margin: 10px auto;
                -ms-flex: 0 0 auto;
                -webkit-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 100%;
            }
            .tab-content .cancel-save-block{
                max-width: 960px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
        
        /* New Styles */
        .vertLine {
            height: 1.863px;
            display: inline !important;
            vertical-align: middle;
            margin-right: 0px;
        }
        .primary-button:hover, .primary-button.selected{
            background-color: #1792e5;
        }
        .save-btn{
            margin-left: 17px;
            outline: none;
            border: none;
            cursor: pointer;
            display: inline;
         }
         .primary-button{
            width: 145px;
            height: 38px;
            /* font-size: 14px; */
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            display: block;
            box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.28);
            color: #fff;
            background-color: #1483cd;
         }
         .primary-button:active{
            background-color: #1272B2;
         }
         #nextstep{
             display: inline;
         }
         .container{
             border-bottom: 1px solid #e1e1e1;
         }
         
         /* CheckBox Overrides */
         .checkbox,.checkbox-container, .radio-button-container{
             padding-left: 28px;
         }
         input[type="checkbox"] + label{
             background-position: 0 4px;
         }
         input[type="checkbox"] + label, input[type="radio"] + label{
            margin-left: -28px;
            padding-left: 22px;
            line-height: 24px;
         }
         .box-shadow{
             -webkit-box-shadow: 0 0 2px 1px #e1e1e1;
             -moz-box-shadow: 0 0 2px 1px #e1e1e1;
             -ms-box-shadow: 0 0 2px 1px #e1e1e1;
             -o-box-shadow: 0 0 2px 1px #e1e1e1;
             box-shadow: 0 0 2px 1px #e1e1e1;
         }
         
         .agreement-status-msg{
             padding: 15px;
             margin-bottom: 20px;
             border: 1px solid transparent;
             border-radius: 4px;
             
             color: #3c763d;
             background-color: #dff0d8;
             border-color: #d6e9c6;
         }
    </style>
    <apex:stylesheet value="{!URLFOR('https://lcbswebapp1534.blob.core.windows.net/content/honeywell.lcbs.header.css')}"/>
    
    <div class="container"> 
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <div class="headerArea">
                <div class="header-row">
                    <span class="logo"></span>
                    <span class="vertLine"></span>
                   <!-- <span class="applicationName">Light Commercial Buildings Solutions</span> -->
                    <span class="applicationName">LCBS Connect</span> 
                    <!-- Help Icon hidden on smaller screens -->
                    

                    <!-- Toggle button for showing menu items in smaller screen -->
                    
                </div>

                <!-- Menu Item contents -->
               
            </div>
        </div>
    </div>
    </div>
</apex:component>