<apex:component >
       <script type="text/javascript">
           function toggleNav(){
             j$('.ng-scope').toggleClass('nav-activated');
           }
           j$(document).on('click', function(event){
               if(!j$(event.target).hasClass('dropdown-toggle')){
                   j$('.ng-scope').hasClass('nav-activated') ? j$('.ng-scope').removeClass('nav-activated') : '';
               }
           });
       </script>
        <!-- Mobile Nav Bar -->
        <div id="mobile-nav">
            <div class="user-name">{!$User.Firstname} {!$User.LastName}</div>
            <nav>
                <ul>
                    <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'"><a  href="/">Home</a></li><!-- data-href="{!HomeUrl}" -->
                    <li ng-class="(vm.active === 'buildings') ? 'dropdown active' : 'dropdown'" class="active"><a data-href="/app/buildings" href="#">Buildings</a></li> <!-- {!BuildingUrl} -->
                    <li ng-class="(vm.active === 'reports') ? 'dropdown active' : 'dropdown'"><a data-href="#" href="#">Reports</a></li>                             
                </ul>
            </nav>
        </div>
        <!-- /. Mobile Nav Bar -->
</apex:component>