<apex:component >
   <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">
                    Toggle navigation
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                </button>
                <a class="navbar-brand" href="index-contractor.html">
                  LCBS: Contractor View
                </a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Buildings
                      <span class="caret">
                      </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="/LCBSBuildingOwners">
                          Building Owners
                        </a>
                      </li>
                      <li>
                        <a href="/LCBS_AllBuildings">
                          Buildings
                        </a>
                      </li>
                      <li>
                        <a href="thermostats.html">
                          Thermostats
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      Alerts
                    </a>
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Reports
                      <span class="caret">
                      </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="#">
                          Report 1
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          Report 2
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          Report 3
                        </a>
                      </li>
                    </ul>
                  </li>
                  
                  <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Company
                      <span class="caret">
                      </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="/LCBS_MyCompanyProfile">
                          Profile
                        </a>
                      </li>
                      <li>
                        <a href="contractor-subscription.html">
                          Subscription
                        </a>
                      </li>
                      <li>
                        <a href= "/LCBSManageUsers">
                          Users
                        </a>
                      </li>
                       <li>
                        <a href= "/LCBS_Contractor_page2">
                          My Contractors
                        </a>           
                      </li>
                    </ul>
                  </li>
                                  
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#contact">
                      About
                    </a>
                  </li>
                  <li>
                    <a href="#contact">
                      Community
                    </a>
                  </li>
                  <li>
                    <a href="{!$Site.Prefix}/secur/logout.jsp">
                      Log Out
                    </a>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </nav>
</apex:component>