<apex:component >
<table style="background-color:#36465F">
<tr>
  <td ><a href="#"> Home 
        <span class="caret">
        </span>
       </a>
  </td>
  <td ><a href="/LCBS_AllBuildings"> Buildings
         <span class="caret">
         </span>
       </a>
  </td>
  <td ><a href="#"> Reports 
      <span class="caret">
        </span>
        </a>
  </td>
  <td ><a href="/LCBS_MyCompanyProfile"> Company 
      <span class="caret">
        </span>
        </a>
  </td>
</tr>
</table>
</apex:component>