<!--------------
Name         : LCBS_Eula_Confirm
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->

<apex:page showHeader="false" sidebar="false" standardStylesheets="true">
  <apex:pageMessages />
  <style type="text/css">
    body {
      font-family: Oxygen;
    }
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .btn {
      display: inline-block;
      padding: 6px 12px;
      width:100%;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      background-image: none;
      border: 1px solid transparent;
    }
    a {
      color: #337ab7;
      text-decoration: none;
    }
  </style>
  <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <script>
      j$ = jQuery.noConflict();
      j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
        var contactTable = j$('[id$="contacttable"]').DataTable({
          order: [[0, 'asc']],
          aoColumns : [
            null,
            null,
            null,
            null,
            null,
            {
              "bSortable": false }
            ,
            {
              "bSortable": false }
            
          ],
          initComplete: function() {
            var api = this.api();
            var select = j$('[id$=accountSelect]');
            api.column(0).data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
            }
                                                     );
            
          }
        }
                                                               );
        
        //j$('[id$=accountSelect]').change(function() {
        //  var val = j$.fn.dataTable.util.escapeRegex(
        //    j$(this).val()
        //);
        //contactTable.column(0)
        //  .search( val == 'All' ? '' : '^'+val+'$', true, false )
        //  .draw();
        //});
      }
                        );
    </script>
    <apex:form >
      <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js">
          </script>
          
        </head>
        
        <body>

    <div class="container" style="width:300px;">
    <br/><br/>
      <form class="form-signin">
      
        <h3>Please review and sign the End User License Agreement (EULA):</h3>
<div style="height:200px;width:300px;border:1px solid #ccc;font:16px/26px;overflow:auto;">
Sed eget volutpat erat, in convallis ante. Suspendisse non lobortis neque, in tristique lacus. Donec nibh magna, tempus ac quam at, lobortis imperdiet elit. Sed egestas urna scelerisque, auctor augue non, egestas arcu. Vestibulum eu fermentum metus. Donec laoreet ipsum id sem malesuada, id egestas enim convallis. Mauris id pellentesque elit. Donec laoreet, dolor eget commodo pharetra, tortor dui efficitur eros, a posuere purus mi sed urna. Fusce vitae urna lacinia, ultricies elit sed, fermentum elit. Suspendisse felis odio, maximus id dolor vitae, gravida convallis sapien. Fusce facilisis, enim quis lacinia vestibulum, lacus odio mattis mauris, non rhoncus dolor erat id diam. Proin eu enim ullamcorper, lacinia tellus non, gravida risus. Nullam rutrum mattis neque, sit amet vehicula eros consectetur hendrerit. Etiam ultrices sapien nec vulputate ornare. Donec volutpat purus quam, at porta dui consectetur non. Aliquam et aliquet mauris. Nulla facilisi. Donec ut nisl consectetur, porta metus quis, rhoncus elit. Nullam elementum convallis enim quis tristique. Suspendisse ornare purus turpis, et eleifend metus feugiat vel. Sed sodales, leo et ornare tristique, lacus arcu convallis magna, nec malesuada massa nunc et orci. Donec aliquam venenatis nunc sed pharetra. Aenean quis elit non dui maximus sollicitudin ac et magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum viverra quis massa vel efficitur. Vestibulum ac euismod purus.
</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> I have read and understood this agreement. </input>
          </label>
        </div>
        
         <div class="alert alert-success" role="alert">Thank you. Your account has now been confirmed!</div>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>

        
          </html>
      
    </apex:form>
  
</apex:page>