<apex:page sidebar="false" showChat="false" showHeader="false" standardStylesheets="false" controller="LCBS_CompanyInfo_Controller">
  <apex:form id="form">
  <html>        
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!-- Title -->
        <title>Honeywell LCBS Contractor Portal</title>
        
        <style type="text/css">
            .tab-pane{
                display: none;
            }
            .tab-pane.active{
                display: block;
            }
            .margin-bottom-20{
                margin-bottom: 20px;
            }
            .section-row{
                margin-top: 20px;
                padding: 0 15px;
            }
            .section-row.nopad{
                padding: 0px;
            }
            .cancel-btn{
                border: 0;
                background: none;
                cursor: pointer;
            }
            .cancel-btn:hover{
                color: inherit;
            }
            .save-btn{
                display: inline;
                margin-left: 17px;
            }
            
            /* Overrides */
            .tab-content header{
                margin-bottom: 30rem;
                margin-top: 30rem;
            }
            section#main-content{
                padding: 0;
                font-size: 11rem;
                color: #303030;
                background-color: transparent;
            }
            .tab-content h1{
                margin-top: 0;                
            }
            .tab-content .dropdown{
                margin-top: 0;
                margin-left: 15rem;
            }
            .requiredInput select, .condRequiredInput select, select{
                width: 215px;
                height: 40px;
                color: #303030;
            }
            
            /**************NEW************************/
            .FLft {float:left;}
            .FRgt {float:right}
            
            .contentTitle {
                font-family: 'Honeywell Sans Book';
                font-size: 2em;
                text-transform: capitalize;
                color: #303030;
                font-weight: normal;
            }
            .titleCaseNavigation {
                font-family: 'Honeywell Sans Bold';
                font-size: 1.17em;
                text-transform: capitalize;
                letter-spacing: 1px;
            }
            /*****************************************/
        </style>
        
        
        <!-- JAVA Script -->
        <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
        
        <!-- <apex:includescript value="https://code.jquery.com/jquery-1.12.0.min.js" / > -->
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>

        <script type="text/javascript">
            // Before page load If we change anything on text fields
            var flagDisableBeforeUnload = true;       
            window.onbeforeunload = function() {
                if(!flagDisableBeforeUnload) return "Leaving this page will lose your changes. Are you sure?";
            }
                         
            // Declaration
            j$ = jQuery.noConflict();
            
            // On Change of formFields
            j$(document).on('change', '.form-control', function(e){
                flagDisableBeforeUnload = false;
            });
            
            // Tab Navigation for mobile
            j$(document).on('change', '#tab_select', function(e){
                // console.log(this);    
                localStorage.setItem("tabName", j$(this).val());
                activeTab();
            });
            j$(document).on('click', '[data-toggle="pill"]', function(){
                  flagDisableBeforeUnload = true;
                  document.getElementById("dispError").style.display= "none";
                  localStorage.setItem("tabName", j$(this).attr('aria-controls'));
                  j$('#tab_select').val(j$(this).attr('aria-controls')); // TODO
                  
                  if(j$(this).attr('aria-controls') == "users"){
                      j$('.addUserButton').show();
                  }else{
                      j$('.addUserButton').hide();
                  }
            });
            
            // Document Ready methods
            j$(document).ready(function(){
               
               // TAB navigation 
               j$('nav.tabs a').click(function(){
                   var tab_id = j$(this).attr('aria-controls');
                   
                   j$('nav.tabs a').removeClass('active');
                   j$('.tab-pane').removeClass('active');
                   
                   j$(this).addClass('active');
                   j$("#"+tab_id).addClass('active');
               });
               // TAB navigation
               
               activeTab();
               //sortBy();
               
               j$('.edit-company-information').on('click', function(e){
                   j$('.informationDisplayBlock').hide();
                   j$('.informationEditBlock').show();
                   j$('.informationEditButton').hide();
               });
               j$('.add-user-information').on('click', function(){                   
                   j$('.userDisplayBlock').hide();
                   j$('.userEditBlock').hide();
                   j$('.addUserButton').hide();
                   j$('.userAddBlock').show();
               });
               j$('.edit-user-information').on('click', function(){
                   j$('.userDisplayBlock').hide();
                   j$('.userAddBlock').hide();
                   j$('.addUserButton').hide();
                   j$('.userEditBlock').show();
               });
               j$('.expand-action-box').on('click', function(){
                   j$('.action-button-box').hide();
                   j$('.action-box').show();
                   
                   j$('.add-office-location-btn').on('click', function(){
                       j$('.locationAddBlock').show();
                   }); 
               }); 
               j$('.collapse-action-box').on('click', function(){ 
                   j$('.action-button-box').show();
                   j$('.action-box').hide();
               });
               
               j$('.first-field').focus();
               
               j$('.edit-company-information').on('click', function(){
                   j$('.informationDisplayBlock').hide();
                   j$('.informationEditBlock').show();
               });
            });
            // Document Ready method is END
            
            // showUserTabVal - TODO for comments 
            function showUserTabVal(){
                console.log(this);
                var RoleId = null;    
                RoleId = j$('[id$=RoleId]').val();
                prevId = j$('[id$=RoleId]').data('value');
                
                if(prevId == 'Occupant' && RoleId != 'Occupant'){
                    alert('Transition not allowed, Please select the correct role.');
                    return false;
                }
                
                if(RoleId == 'Occupant' && prevId != 'Occupant'){
                    alert('Transition not allowed, Please select the correct role.');
                    return false;
                }else{
                    updateUser();
                    j$('.userDisplayBlock').show();
                    j$('.userEditBlock').hide();
                    j$('.addUserButton').show();
                    j$('.userAddBlock').hide();
                }
            }
            
            // TabNav Activation.
            function activeTab(){
                var tabValue = localStorage.getItem("tabName");
                tabValue = ( tabValue == "" || tabValue == null || tabValue == undefined ) ? "info" : tabValue;
                
                j$('#tab_select').val(tabValue);
                //j$('a[href="#'+tabValue+'"]').tab('show');
                
                j$('nav.tabs a').removeClass('active');
                j$('.tab-pane').removeClass('active');
                
                j$('a[href="#'+tabValue+'"]').addClass('active');
                j$('#'+tabValue).addClass('active');
                
                if(tabValue == "users"){
                    j$('.addUserButton').show();
                }else{
                    j$('.addUserButton').hide();
                }
            }

            function showUserTab(){
                j$('.userDisplayBlock').show();
                j$('.userEditBlock').hide();
                j$('.addUserButton').show();
                j$('.userAddBlock').hide();
            }
            
            function showUserTab1(){
                j$('.userDisplayBlock').show();
            }
            
            function editUserTab(){
              // j$('a[href="#users"]').tab('show');
               j$('.userDisplayBlock').hide();
               j$('.userAddBlock').hide();
               j$('.addUserButton').hide();
               j$('.userEditBlock').show();                     
            }                    
            function editUserTab1(){
               j$('a[href="#users"]').tab('show');
            }
            
            
            function CallJS(data){
               paraFunction(data);
            }
            function BlockUI() { 
               $('.modal').show();
            }
                    
            function unBlockUI() { 
               $('.modal').hide();
            }
                    
            function closeCompanyLocation(){
               j$('.locationAddBlock').hide();
            }
            
            function tabActive(selectorClass){
               j$('.'+selectorClass).show();
               j$('.informationDisplayBlock').hide();
            }
            
            // TODO-- Optimise code
            function clearErrors(){
                document.getElementById("dispError").style.display= "none";
                jQuery('[id$=FirstName]').css("borderColor", "");
                jQuery('[id$=FirstName]').css("borderStyle", "");
                jQuery('[id$=FirstName]').css("backgroundColor","");
                jQuery('[id$=LastName]').css("borderColor", "");
                jQuery('[id$=LastName]').css("borderStyle", "");
                jQuery('[id$=LastName]').css("backgroundColor","");
                jQuery('[id$=Email]').css("borderColor", "");
                jQuery('[id$=Email]').css("borderStyle", "");
                jQuery('[id$=Email]').css("backgroundColor","");                           
                jQuery('[id$=PhoneNumber]').css("borderColor", "");
                jQuery('[id$=PhoneNumber]').css("borderStyle", "");
                jQuery('[id$=PhoneNumber]').css("backgroundColor",""); 
                jQuery('[id$=PhnValidation]').text("");
                jQuery('[id$=Emalvalidation]').text("");  
                jQuery('[id$=FNameValidation]').css("color","");
                jQuery('[id$=FNameValidation]').text("");
                jQuery('[id$=LNameValidation]').css("color","");
                jQuery('[id$=LNameValidation]').text("");   
                jQuery('[id$=EPhnValidation]').text("");
                jQuery('[id$=EEmalvalidation]').text("");  
                jQuery('[id$=EFNameValidation]').css("color","");
                jQuery('[id$=EFNameValidation]').text("");
                jQuery('[id$=ELNameValidation]').css("color","");
                jQuery('[id$=ELNameValidation]').text("");                     
            }
            
            
            // User Validation
            function userValidation1(){
                flagDisableBeforeUnload = true;
                clearErrors();
                var ErrorMsg = '';
                var a1 = jQuery('[id$=EPhoneNumber]').val();
                var phoneNum1 = a1.replace(/[^\d]/g, '');
                var email1 = jQuery('[id$=EEmail]').val();
                email1 = email1.toString().trim();
                var us1 = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
                var ca1 = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
                var re1 = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
                if(jQuery('[id$=AEFirstName]').val()==''){
                jQuery('[id$=AEFirstName]').css("borderColor", "#E65048");
                jQuery('[id$=AEFirstName]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=AEFirstName]').css("backgroundColor","");
                jQuery('[id$=AEFNameValidation]').css("color","#E65048");
                jQuery('[id$=AEFNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'First Name, ';
                }
                if(jQuery('[id$=AELastName]').val()=='')
                {
                jQuery('[id$=AELastName]').css("borderColor", "#E65048");
                jQuery('[id$=AELastName]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=AELastName]').css("backgroundColor","");
                jQuery('[id$=AELNameValidation]').css("color","#E65048");
                jQuery('[id$=AELNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Last Name, ';
                }    
                if(jQuery('[id$=EEmail]').val()=='')
                {
                jQuery('[id$=EEmail]').css("borderColor", "#E65048");
                jQuery('[id$=EEmail]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=EEmail]').css("backgroundColor","");
                jQuery('[id$=EEmalvalidation]').css("color","#E65048");
                jQuery('[id$=EEmalvalidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Email, ';
                }       

                if(jQuery('[id$=EPhoneNumber]').val()=='') 
                {
                jQuery('[id$=EPhoneNumber]').css("borderColor", "#E65048");
                jQuery('[id$=EPhoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=EPhoneNumber]').css("backgroundColor","");
                jQuery('[id$=EPhnValidation]').css("color","#E65048");
                jQuery('[id$=EPhnValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Phone Number, ';
                }
                if((jQuery('[id$=EPhoneNumber]').val() !='')&&(phoneNum1.length < 6 || phoneNum1.length > 11))
                {
                jQuery('[id$=EPhnValidation]').css("color","#E65048");
                jQuery('[id$=EPhnValidation]').text("Not a valid phone number");
                jQuery('[id$=EPhoneNumber]').css("borderColor", "#E65048");
                jQuery('[id$=EPhoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=EPhoneNumber]').css("backgroundColor","");
                ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
                }
                if (!re1.test(jQuery('[id$=EEmail]').val()) && ( jQuery('[id$=EEmail]').val() != ''))
                {
                jQuery('[id$=EEmalvalidation]').css("color","#E65048");
                jQuery('[id$=EEmalvalidation]').text("Not a valid email");
                jQuery('[id$=EEmail]').css("borderColor", "#E65048");
                jQuery('[id$=EEmail]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=EEmail]').css("backgroundColor","");
                ErrorMsg = ErrorMsg +'Enter a valid Email';
                }
                ErrorMsg = ErrorMsg+".";
                ErrorMsg = ErrorMsg.replace(", .",".");
                
                ErrorMsg = ErrorMsg.trim();       
                if(ErrorMsg == '.')
                {
                 
                 document.getElementById("dispError").style.display= "none";
                 updateuser();
                }
                if(ErrorMsg != '.')
                {
                  
                  document.getElementById("dispError").style.display= "block";
                  return false;
                }
            }
            
            function userValidation(){
                flagDisableBeforeUnload = true;
                clearErrors();
                var ErrorMsg = '';
                var a = jQuery('[id$=PhoneNumber]').val();
                var phoneNum = a.replace(/[^\d]/g, '');
                var email = jQuery('[id$=Email]').val();
                email = email.toString().trim();
                var us = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
                var ca = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
                var re = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
                if(jQuery('[id$=AFirstName]').val()=='')
                {
                jQuery('[id$=AFirstName]').css("borderColor", "#E65048");
                jQuery('[id$=AFirstName]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=AFirstName]').css("backgroundColor","");
                jQuery('[id$=AFNameValidation]').css("color","#E65048");
                jQuery('[id$=AFNameValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'First Name, ';
                }
                if(jQuery('[id$=ALastName]').val()=='')
                {
                jQuery('[id$=ALastName]').css("borderColor", "#E65048");
                jQuery('[id$=ALastName]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=ALastName]').css("backgroundColor","");
                jQuery('[id$=ALNameValidation]').css("color","#E65048");
                jQuery('[id$=ALNameValidation]').text("Required");
                
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Last Name, ';
                }    
                if(jQuery('[id$=Email]').val()=='')
                {
                jQuery('[id$=Email]').css("borderColor", "#E65048");
                jQuery('[id$=Email]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=Email]').css("backgroundColor","");
                jQuery('[id$=Emalvalidation]').css("color","#E65048");
                jQuery('[id$=Emalvalidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Email, ';
                }       

                if(jQuery('[id$=PhoneNumber]').val()=='') 
                {
                jQuery('[id$=PhoneNumber]').css("borderColor", "#E65048");
                jQuery('[id$=PhoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=PhoneNumber]').css("backgroundColor","");
                jQuery('[id$=PhnValidation]').css("color","#E65048");
                jQuery('[id$=PhnValidation]').text("Required");
                if(ErrorMsg == '')
                {
                ErrorMsg ='Please enter ';
                }
                ErrorMsg =ErrorMsg + 'Phone Number, ';
                }
                if((jQuery('[id$=PhoneNumber]').val() !='')&&(phoneNum.length < 6 || phoneNum.length > 11))
                {
                jQuery('[id$=PhnValidation]').css("color","#E65048");
                jQuery('[id$=PhnValidation]').text("Not a valid phone number");
                jQuery('[id$=PhoneNumber]').css("borderColor", "#E65048");
                jQuery('[id$=PhoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=PhoneNumber]').css("backgroundColor","");
                ErrorMsg = ErrorMsg+' Please enter a valid Phone Number';
                }
                if (!re.test(jQuery('[id$=Email]').val()) && ( jQuery('[id$=Email]').val() != ''))
                {
                jQuery('[id$=Emalvalidation]').css("color","#E65048");
                jQuery('[id$=Emalvalidation]').text("Enter a Valid Email");
                jQuery('[id$=Email]').css("borderColor", "#E65048");
                jQuery('[id$=Email]').css("borderStyle", "solid").css("borderWidth", '1px');
                jQuery('[id$=Email]').css("backgroundColor","");
                ErrorMsg = ErrorMsg +'Not a valid email ';
                }
                ErrorMsg = ErrorMsg+".";
                ErrorMsg = ErrorMsg.replace(", .",".");
             
                ErrorMsg = ErrorMsg.trim();       
                if(ErrorMsg == '.')
                {
                 
                 document.getElementById("dispError").style.display= "none";
                 adduser1();
                 
                }
                if(ErrorMsg != '.')
                {
                 
                  document.getElementById("dispError").style.display= "block";
                  return false;
                }
            }
            
            
            function IclearErrors(){
              document.getElementById("dispError").style.display= "none";
              jQuery('[id$=Iemail]').css("borderColor", "");
              jQuery('[id$=Iemail]').css("borderStyle", "");
              jQuery('[id$=Iemail]').css("backgroundColor","");
          
              jQuery('[id$=Iemailvalidation]').css("color","");
              jQuery('[id$=Iemailvalidation]').text("");
         
              jQuery('[id$=IphoneNumber]').css("borderColor", "");
              jQuery('[id$=IphoneNumber]').css("borderStyle", "");
              jQuery('[id$=IphoneNumber]').css("backgroundColor","");
              jQuery('[id$=Iphone]').css("color","");
              jQuery('[id$=Iphone]').text("");
              jQuery('[id$=Ipostal]').css("color","");
              jQuery('[id$=Ipostal]').text("");
              jQuery('[id$=IpostalCode]').css("borderColor", "");
              jQuery('[id$=IpostalCode]').css("borderStyle", "");
              jQuery('[id$=IpostalCode]').css("backgroundColor","");
              jQuery('[id$=Iemail]').css("borderColor", "");
              jQuery('[id$=Iemail]').css("borderStyle", "");
              jQuery('[id$=Iemail]').css("backgroundColor","");
              jQuery('[id$=Iemailvalidation]').css("color","");
              jQuery('[id$=Iemailvalidation]').text("");
              jQuery('[id$=name]').css("borderColor", "");
              jQuery('[id$=name]').css("borderStyle", "");
              jQuery('[id$=name]').css("backgroundColor","");
              jQuery('[id$=IAddr]').css("borderColor", "");
              jQuery('[id$=IAddr]').css("borderStyle", "");
              jQuery('[id$=IAddr]').css("backgroundColor","");
              jQuery('[id$=IpostalCode]').css("borderColor", "");
              jQuery('[id$=IpostalCode]').css("borderStyle", "");
              jQuery('[id$=IpostalCode]').css("backgroundColor","");
              jQuery('[id$=ICity]').css("borderColor", "");
              jQuery('[id$=ICity]').css("borderStyle", "");
              jQuery('[id$=ICity]').css("backgroundColor","");
              jQuery('[id$=IFirstName]').css("borderColor", "");
              jQuery('[id$=IFirstName]').css("borderStyle", "");
              jQuery('[id$=IFirstName]').css("backgroundColor","");
              jQuery('[id$=ILastName]').css("borderColor", "");
              jQuery('[id$=ILastName]').css("borderStyle", "");
              jQuery('[id$=ILastName]').css("backgroundColor","");
              
              jQuery('[id$=Iemail]').css("borderColor", "");
              jQuery('[id$=Iemail]').css("borderStyle", "");
              jQuery('[id$=Iemail]').css("backgroundColor","");   
              jQuery('[id$=IphoneNumber]').css("borderColor", "");
              jQuery('[id$=IphoneNumber]').css("borderStyle", "");
              jQuery('[id$=IphoneNumber]').css("backgroundColor","");
            
              jQuery('[id$=Ipostal]').text("");
              jQuery('[id$=Iemailvalidation]').css("color","");
              jQuery('[id$=Iemailvalidation]').text("");
              jQuery('[id$=Iemail]').css("borderColor", "");
              jQuery('[id$=Iemail]').css("borderStyle", "");
              jQuery('[id$=Iemail]').css("backgroundColor","");
              jQuery('[id$=INameValidation]').css("color","");
              jQuery('[id$=INameValidation]').text("");
              jQuery('[id$=IAddrValidation]').css("color","");
              jQuery('[id$=IAddrValidation]').text("");
              jQuery('[id$=ICityValidation]').css("color","");
              jQuery('[id$=ICityValidation]').text("");
              jQuery('[id$=IFNValid]').css("color","");
              jQuery('[id$=IFNValid]').text("");
              
           
              jQuery('[id$=Istate]').css("borderColor", "");
              jQuery('[id$=Istate]').css("borderStyle", "");
              jQuery('[id$=Istate]').css("backgroundColor","");
              jQuery('[id$=IstateValidation]').css("color","");
              jQuery('[id$=IstateValidation]').text("");           
            }
            
            function informationValidation(){
             
              IclearErrors();
              var ErrorMsg1 = '';
              var ErrorMsg11 = '';
              var ErrorMsg21= '';
              var ErrorMsg31 = '';
              var ErrorMsg41 = '';
              
              var a1 = jQuery('[id$=IphoneNumber]').val();
              var phoneNum1 = a1.replace(/[^\d]/g, '');
              var zipCode1 = jQuery('[id$=IpostalCode]').val();
              zipCode1 = zipCode1.toString().trim();
              var email1 = jQuery('[id$=Iemail]').val();
              email1 = email1.toString().trim();
              var us12 = new RegExp("^\\d{5}(-{0,1}\\d{4})?$");
              var ca12 = new RegExp(/^[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]( )?\d[ABCEGHJKLMNPRSTVWXYZ]\d$/i);
              var re1 = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
              
              if(jQuery('[id$=name]').val()=='')
              {
                  jQuery('[id$=name]').css("borderColor", "#E65048");
                  jQuery('[id$=name]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=name]').css("backgroundColor","");
                  jQuery('[id$=INameValidation]').css("color","#E65048");
                  jQuery('[id$=INameValidation]').text("Required");
                  if(ErrorMsg1 == '')
                  {
                   ErrorMsg1 ='Please enter ';
                  }
                  ErrorMsg1 =ErrorMsg1 + 'Building Name, ';
              }
              
              if(jQuery('[id$=IAddr]').val()=='')
              {
                  jQuery('[id$=IAddr]').css("borderColor", "#E65048");
                  jQuery('[id$=IAddr]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IAddr]').css("backgroundColor","");
                  jQuery('[id$=IAddrValidation]').css("color","#E65048");
                  jQuery('[id$=IAddrValidation]').text("Required");
                  if(ErrorMsg1 == '')
                  {
                   ErrorMsg1 ='Please enter ';
                  }
                  ErrorMsg1 =ErrorMsg1 + 'Building Address, ';
              } 
              
                if(jQuery('[id$=Istate]').val()=='')
              {
                  jQuery('[id$=Istate]').css("borderColor", "#E65048");
                  jQuery('[id$=Istate]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=Istate]').css("backgroundColor","");
                  jQuery('[id$=IstateValidation]').css("color","#E65048");
                  jQuery('[id$=IstateValidation]').text("Required");
                  if(ErrorMsg1 == '')
                  {
                   ErrorMsg1 ='Please enter ';
                  }
                  ErrorMsg1 =ErrorMsg1 + 'State, ';
              }   
              
              if(jQuery('[id$=IpostalCode]').val()=='')
              {
                  jQuery('[id$=IpostalCode]').css("borderColor", "#E65048");
                  jQuery('[id$=IpostalCode]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IpostalCode]').css("backgroundColor","");
                  jQuery('[id$=Ipostal]').css("color","#E65048");
                  jQuery('[id$=Ipostal]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }
                    ErrorMsg1 =ErrorMsg1 + 'Postal code, ';
              }
              
              
              if(jQuery('[id$=IFirstName]').val()=='') 
              {
                  jQuery('[id$=IFirstName]').css("borderColor", "#E65048");
                  jQuery('[id$=IFirstName]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IFirstName]').css("backgroundColor","");
                  jQuery('[id$=IFNValid]').css("color","#E65048");
                  jQuery('[id$=IFNValid]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }
                  ErrorMsg1 =ErrorMsg1 + 'First Name, ';
              }
             
              
              if(jQuery('[id$=ILastName]').val()=='') 
              {
                  jQuery('[id$=ILastName]').css("borderColor", "#E65048");
                  jQuery('[id$=ILastName]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=ILastName]').css("backgroundColor","");
                  jQuery('[id$=IFNValid]').css("color","#E65048");
                  jQuery('[id$=IFNValid]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }
                  ErrorMsg1 =ErrorMsg1 + 'Last Name, ';
              }
             if(jQuery('[id$=ICity]').val()=='')
              {
                  jQuery('[id$=ICity]').css("borderColor", "#E65048");
                  jQuery('[id$=ICity]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=ICity]').css("backgroundColor","");
                  jQuery('[id$=ICityValidation]').css("color","#E65048");
                  jQuery('[id$=ICityValidation]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }
                  ErrorMsg1 =ErrorMsg1 + 'City, ';
                  
              }
           
              if(jQuery('[id$=Iemail]').val()=='')
              {
                  jQuery('[id$=Iemail]').css("borderColor", "#E65048");
                  jQuery('[id$=Iemail]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=Iemail]').css("backgroundColor","");
                  jQuery('[id$=Iemailvalidation]').css("color","#E65048");
                  jQuery('[id$=Iemailvalidation]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }     
                  ErrorMsg1 =ErrorMsg1 + 'Email, ';
              }
              
              if(jQuery('[id$=IphoneNumber]').val()=='') 
              {
                  jQuery('[id$=IphoneNumber]').css("borderColor", "#E65048");
                  jQuery('[id$=IphoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                  jQuery('[id$=Iphone]').css("color","#E65048");
                  jQuery('[id$=Iphone]').text("Required");
                  if(ErrorMsg1 == '')
                      {
                       ErrorMsg1 ='Please enter ';
                      }
                  ErrorMsg1 =ErrorMsg1 + 'Phone Number, ';
                  
              }
          
             
              if((jQuery('[id$=IphoneNumber]').val() !='') && (phoneNum1.length < 6 || phoneNum1.length > 11))
              {
                  jQuery('[id$=Iphone]').css("color","#E65048");
                  jQuery('[id$=Iphone]').text("Not a valid phone number");
                  jQuery('[id$=IphoneNumber]').css("borderColor", "#E65048");
                  jQuery('[id$=IphoneNumber]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IphoneNumber]').css("backgroundColor","");
                   ErrorMsg21 = 'Please enter a Valid Phone Number';
                      
              }
              
              if((jQuery('[id$=Icountry]').val()=='USA')&&( jQuery('[id$=IpostalCode]').val()!= '')&&((!us12.test(zipCode1.toString()))))
              {
                  jQuery('[id$=Ipostal]').css("color","#E65048");
                  jQuery('[id$=Ipostal]').text("Not a valid Postal/ZIP Code");
                  jQuery('[id$=IpostalCode]').css("borderColor", "#E65048");
                  jQuery('[id$=IpostalCode]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IpostalCode]').css("backgroundColor","");
                  ErrorMsg41 = 'Please enter a Valid Postal Code';
                      
              }
              
              if((jQuery('[id$=Icountry]').val()=='Canada')&&( jQuery('[id$=IpostalCode]').val()!= '')&&((!ca12.test(zipCode1.toString()))))
              {
              
                  jQuery('[id$=Ipostal]').css("color","#E65048");
                  jQuery('[id$=Ipostal]').text("Not a valid Postal/ZIP Code");
                  jQuery('[id$=IpostalCode]').css("borderColor", "#E65048");
                  jQuery('[id$=IpostalCode]').css("borderStyle", "solid").css("borderWidth", '1px');
                  jQuery('[id$=IpostalCode]').css("backgroundColor","");
                  ErrorMsg31 ='Please enter a Valid Postal Code';
                      
              }
              
              if (!re1.test(jQuery('[id$=Iemail]').val())&&( jQuery('[id$=Iemail]').val() != ''))
              {
               jQuery('[id$=Iemailvalidation]').css("color","#E65048");
               jQuery('[id$=Iemailvalidation]').text("Not a valid email");
               jQuery('[id$=Iemail]').css("borderColor", "#E65048");
               jQuery('[id$=Iemail]').css("borderStyle", "solid").css("borderWidth", '1px');
               jQuery('[id$=Iemail]').css("backgroundColor","");
               ErrorMsg11 = 'Please enter a Valid Email';
                      
              }
              
              ErrorMsg1 = ErrorMsg1+".";
              
              ErrorMsg1 = ErrorMsg1.replace(", .",".");
                
              
              ErrorMsg1 = ErrorMsg1.trim();       
                
               
              if(ErrorMsg1 == '.' && ErrorMsg11 =='' && ErrorMsg21 =='' && ErrorMsg31 =='' && ErrorMsg41 =='')
              {
               
               document.getElementById("dispError").style.display= "none";
               companyUpdate();
              }
              
              if(ErrorMsg1 != '.' || ErrorMsg11 != '' || ErrorMsg21 != '' || ErrorMsg31 != ''|| ErrorMsg41 != '')
              {
                
                 document.getElementById("dispError").style.display= "block";
                 return false;    
              }
              
           }
           function sortBy(){
                var sortBySelect = j$('.sortby-selection');
                var sortByOptions = sortBySelect.children('option');
                var soryByDropdown = sortBySelect.parent().next(); // TODO
                
                soryByDropdown.find('ul').empty();
                j$.each(sortByOptions, function(){
                    var li = j$('<li/>').attr({'data-value':j$(this).val()});
                    var a = j$('<a href="#"/>').text(j$(this).text());
                    
                    li.click(function(){
                        sortBySelect.val(j$(this).val());
                        sortBySelect.change();
                    });
                    
                    // Append the Values
                    a.appendTo(li);
                    li.appendTo(soryByDropdown.find('ul'));
                });
           }
            
        </script>
    </head>
    <apex:outputPanel id="body">
    <body class="ng-scope">
       <c:LCBS_Mobile_Nav /> <!-- mobile nav -->
       
       <div id="body-inner" class="background">
           <div class="container ng-scope" ng-controller="AlertController as vm">            
           </div>
           
           <c:LCBSDistributorHeader_New_Latest />
           
           <div id="ng-view-wrapper">
               <div id="ng-view" class="ng-scope">
                   <div id="main-tab" class="ng-scope">
                       <header class="clearfix">
                           <h1 class="ng-binding">Company</h1>
                       </header>
                       <div class="marginBuildingTab">
                           <nav class="btn-group tabs clearfix">
                               <a href="#info" aria-controls="info" role="tab" data-toggle="pill" class="btn btn-default ng-binding ng-scope active">Information</a>
                               <a href="#users" aria-controls="users" role="tab" data-toggle="pill" class="btn btn-default ng-binding ng-scope">Employees</a>
                               <a href="#subscriptions" aria-controls="subscriptions" role="tab" data-toggle="pill" class="btn btn-default ng-binding ng-scope">Subscriptions</a>
                           </nav>
                       </div>
                   </div>
                   <!-- /# main-tab -->
                   
                   <div class="tab-content ng-scope" ui-view="content">
                       <div class="ng-scope" id="main-body">
                           <section class="main ng-scope">
                               <!-- Error Messages -->
                               <div id="dispError">
                                   <div class="clearfix">
                                       <apex:image url="{!URLFOR($Resource.LCBS_Error_latest, 'error/error.png')}" style="margin-left:2%;"/>
                                       <apex:outputLabel escape="true"  id="error" value="Please correct the errors below." />
                                   </div>
                               </div>
                               <!-- Error Messages -->
                           
                               <!-- Information Tab Content -->
                               <div id="info" class="tab-pane tabContent active" ui-view="content" role="tabpanel">
                                   <div class="clearfix section-row">
                                       <apex:outputPanel rendered="{!IF(user.Contact.Role__c == 'Owner'|| user.Contact.Role__c == 'Delegate',true,false)}">
                                         <div class="informationEditButton" style="float:right;">
                                            <apex:outputPanel rendered="{!CompanyEditPanel}">
                                                <a href="javascript:void(0);" class="edit-company-information" aria-hidden="true"><img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" /></a>
                                            </apex:outputPanel>
                                         </div>
                                       </apex:outputPanel>
                                   </div>
                                   
                                   <div class="clearfix">
                                      <!-- informationDisplayBlock -->
                                      <div class="sfdc-row clearfix informationDisplayBlock">
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Company Name<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.Name}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Owner Name<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!Cont.FirstName} {!Cont.LastName}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Phone<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.phone}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Email<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.Email__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Address<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.Address__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Address 2</dt>
                                                    <dt class="bodyText">{!acct.Address_2__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">City<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.City__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                          <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">State<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.State__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                         <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">ZIP / Postal Code<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.Zip__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                        <div class="sfdc-col sfdc-col-3 details-box">
                                            <article>
                                                <dl>
                                                    <dt class="smallLabelText">Country<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                    <dt class="bodyText">{!acct.Country__c}</dt>
                                                </dl>
                                            </article>
                                        </div>
                                       
                                        
                                      
                                     </div>
                                     <!-- /. informationDisplayBlock -->
                                     
                                     <!-- Edit Block -->
                                     <div class="informationEditBlock" style="display:none;">
                                      <div class="sfdc-row noSidePad clearfix">
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Company Name<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel styleclass="bodyText" id="INameValidation" value=" " style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class=""><apex:inputfield id="name" styleclass="formField form-control" value="{!acct.Name}" html-autofocus="true" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Owner First Name<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel styleclass="bodyText" id="IFNValid" value="" style="margin-left:2%;font-size:12px;"/> </dt>
                                                        <dt class=""><apex:inputText id="IFirstName" styleclass="formField form-control" value="{!Cont.FirstName}" onchange="flagDisableBeforeUnload = false;"/> </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <!-- TODO - Needs to Error Handing msg -->
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Owner Last Name<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> </dt>
                                                        <dt class=""><apex:inputText id="ILastName" styleclass="formField form-control" value="{!Cont.LastName}"/> </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Phone<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="Iphone" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class=""><apex:inputField id="IphoneNumber" styleclass="formField form-control" value="{!acct.phone}" onchange="flagDisableBeforeUnload = false;" /></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Email<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="Iemailvalidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class=""><apex:inputField id="Iemail" styleclass="formField form-control" value="{!acct.Email__c}" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Address<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="IAddrValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class=""><apex:inputField styleclass="formField form-control" id="IAddr" style="resize: none;" value="{!acct.Address__c}" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Address 2</dt>
                                                        <dt class=""><apex:inputField styleclass="formField form-control" id="IAddr2" style="resize: none;" value="{!acct.Address_2__c}" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">City<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="ICityValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;" /></dt>
                                                        <dt class=""><apex:inputField styleclass="formField form-control form-custom-input" id="ICity" value="{!acct.City__c}" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">State<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="IstateValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;" /></dt>
                                                        <dt class=""><apex:inputField id="Istate" styleclass="formField form-control form-custom-input" value="{!acct.State__c}" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">ZIP / Postal Code<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span> <apex:outputLabel id="Ipostal" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;" /></dt>
                                                        <dt class=""><apex:inputField id="IpostalCode" styleclass="formField form-control form-custom-input" value="{!acct.Zip__c}"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>
                                                        <dt class="smallLabelText">Country<span class="bodyText required" style="font-size:12px;bottom:5px;">&#9913;</span></dt>
                                                        <dt class=""><apex:inputField styleclass="formField form-control form-custom-input" id="Icountry" value="{!acct.Country__c}" required="true" onchange="flagDisableBeforeUnload = false;"/></dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            
                                            
                                         </div><!-- /.sfdc-row -->
                                         <div class="clearfix section-row margin-bottom-20">
                                            <apex:commandButton value="Cancel" action="{!cancelCompany}" immediate="true" styleClass="cancel-btn linkText"/>
                                            <apex:actionFunction action="{!updateCompany}" name="companyUpdate" reRender="form"/>
                                            <apex:commandButton value="Save" onclick="flagDisableBeforeUnload = true;return informationValidation();" styleClass="primary-button save-btn"/>
                                         </div>  
                                      </div>
                                      <!-- Edit Block -->
                                     
                                  </div>
                                  <!-- /. Clearfix -->                                  
                               </div>
                               <!-- /# info -->
                               
                               <!-- Apex Action Function for get Contact Info -->
                               <apex:actionFunction name="getContactinfo" action="{!getContactInfo}" reRender="users" />
                               
                               <!-- USERS -->
                               <div id="users" class="tab-pane" ui-view="content" role="tabpanel">
                                   
                                   <!-- User Display Block -->
                                   <apex:outputPanel id="tableRen">
                                   <div class="userDisplayBlock clearfix">
                                       <!-- Secondary Header -->
                                       <header class="clearfix">
                                           <section id="main-content" class="clearfix">
                                                <h1 style="font-family: 'Honeywell Sans Bold'; font-size: 2.17em; text-transform: capitalize; letter-spacing: 1px;">Employees</h1><!--class="largeLabelText"-->
                                                
                                                <div class="dropdown action-dropdown">
                                                    <a aria-expanded="false" class="actions dropdown-toggle" data-toggle="dropdown" href="#" role="button">Actions</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="add-user-information">
                                                            <a href="javascript:void(0);" link-to-url="AddEmployeeURL">ADD EMPLOYEE</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div style="float:right;display:block;">
                                                <apex:selectList value="{!selectedField}" multiselect="false" size="1" styleClass="sortby-selection">
                                                    <apex:actionSupport action="{!sortMethod}"  event="onchange"/>
                                                    <apex:selectOptions value="{!SortOptions}" />                     
                                                </apex:selectList>
                                                </div>
                                                <!--<div class="controls">
                                                    <div aria-expanded="false" aria-haspopup="true" class="sort-by dropdown-toggle ng-binding" data-toggle="dropdown" type="button">
                                                        Sort By
                                                        <div class="caret"></div>
                                                    </div>
                                                    <ul aria-labelledby="dropdownMenu1" class="dropdown-menu" ng-disabled="buildingList.length == 0">
                                                        <li class="disabled">
                                                            <a href="#">Name (A-Z)</a>
                                                        </li>
                                                        <li class="disabled">
                                                            <a href="#">Name (Z-A)</a>
                                                        </li>
                                                        <li class="disabled">
                                                            <a href="#">Phone</a>
                                                        </li>
                                                        <li class="disabled">
                                                            <a href="#">Email (A-Z)</a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                           </section>     
                                       </header>
                                       <!-- /. Secondary Header -->
                                       
                                       <!-- USER Listing -->
                                        <div class="clearfix margin-bottom-20">
                                            
                                            <ul class="employee-list clearfix" >
                                            
                                                <apex:repeat value="{!con}" id="contacts" var="c">
                                                <li class="item">
                                                    <article>
                                                        <span class="name">{!c.FirstName}&nbsp;{!c.LastName}</span>
                                                        <span class="role">{!c.Role__c}</span>
                                                        <span class="number">{!c.Phone}</span>
                                                        <span class="email"><apex:outputField value="{!c.Email}"/></span>
                                                        <span class="edit-action">
                                                            <apex:outputPanel rendered="{!EditUserPanel}">                                    
                                                                <apex:commandLink value="" action="{!getContactInfo}" oncomplete="editUserTab();" reRender="EditPanel">
                                                                    <!--span class="glyphicon glyphicon-pencil user-edit-link">E</span>-->
                                                                    <img src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" class="user-edit-link" />
                                                                    <apex:param assignTo="{!ContactId}" value="{!c.id}" name="ContactId"/>
                                                                </apex:commandLink> 
                                                            </apex:outputPanel>
                                                        </span>
                                                    </article>
                                                </li>   
                                                </apex:repeat>
                                                
                                            </ul>
                                        </div>
                                       <!-- USER Listing -->
                                   </div>
                                   </apex:outputPanel>
                                   <!-- /. User Display Block -->
                                   
                                   <!-- User Add Block -->
                                   <div class="userAddBlock clearfix" style="display:none;">
                                        <apex:outputPanel id="userBlock">
                                            <!-- Secondary Header -->
                                            <header class="clearfix" style="margin-top:20px; margin-bottom:20px;">
                                                <section id="main-content" class="clearfix">
                                                    <h1 style="font-family: 'Honeywell Sans Bold'; font-size: 2.17em !important; text-transform: capitalize; letter-spacing: 1px;">Add Employee</h1> <!--class="largeLabelText"-->
                                                </section>
                                            </header>
                                            <!-- /. Secondary Header -->
                                            
                                            <!-- Add Employee Form -->
                                            <div class="sfdc-row noSidePad clearfix">
                                                <div class="sfdc-col sfdc-col-4 details-box">
                                                    <article>
                                                        <dl>    
                                                            <dt class="smallLabelText">First Name<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="AFNameValidation" styleclass="bodyText" value="" style="margin-left:2%;font-size:12px;"/></dt>
                                                            <dt class="">
                                                                <apex:inputText styleclass="formField form-control first-field" value="{!userFirstName}" id="AFirstName" onchange="flagDisableBeforeUnload = false;"/>
                                                            </dt>
                                                        </dl>
                                                    </article>
                                                </div>
                                                <div class="sfdc-col sfdc-col-4 details-box">
                                                    <article>
                                                        <dl>    
                                                            <dt class="smallLabelText">Last Name<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="ALNameValidation" styleclass="bodyText" value="" style="margin-left:2%;font-size:12px;"/></dt>
                                                            <dt class="">
                                                                <apex:inputText styleclass="formField form-control" value="{!userLastName}" id="ALastName" onchange="flagDisableBeforeUnload = false;"/>
                                                            </dt>
                                                        </dl>
                                                    </article>
                                                </div>
                                                <div class="sfdc-col sfdc-col-4 details-box">
                                                    <article>
                                                        <dl>    
                                                            <dt class="smallLabelText">Email<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="Emalvalidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                            <dt class="">
                                                                <apex:inputText styleclass="formField form-control" value="{!userEmail}"  id="Email" onchange="flagDisableBeforeUnload = false;"/>
                                                            </dt>
                                                        </dl>
                                                    </article>
                                                </div>
                                                <div class="sfdc-col sfdc-col-4 details-box">
                                                    <article>
                                                        <dl>    
                                                            <dt class="smallLabelText">Phone<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="PhnValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                            <dt class="">
                                                                <!--<apex:inputText styleclass="formField form-control" value="{!userPhone}" id="PhoneNumber" onchange="flagDisableBeforeUnload = false;"/>-->
                                                                 <apex:inputField id="PhoneNumber" styleclass="formField form-control" value="{!fetchUserinfo.phone}" onchange="flagDisableBeforeUnload = false;" />
                                                            </dt>
                                                        </dl>
                                                    </article>
                                                </div>
                                                <div class="sfdc-col sfdc-col-4 details-box">
                                                    <article>
                                                        <dl>    
                                                            <dt class="smallLabelText">Role<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                            <dt class="">
                                                                <apex:selectList styleClass="formField form-control form-custom-input" value="{!selectedRole}" size="1">
                                                                    <apex:selectOptions value="{!Role}"/>
                                                                </apex:selectList>
                                                            </dt>
                                                        </dl>
                                                    </article>
                                                </div>
                                                
                                            </div>
                                           <!-- <apex:actionFunction name="adduser1" action="{!addUsers}" oncomplete="showUserTab();" />-->
                                            <div class="clearfix noPad section-row margin-bottom-20">
                                               <!-- <apex:commandButton value="Cancel"  immediate="true" styleClass="cancel-btn linkText" onclick="showUserTab();" reRender="users"/> -->
                                                <apex:commandButton value="Cancel"  immediate="true" styleClass="cancel-btn linkText" reRender="users" action="{!canceladdUser}"/>
                                                <apex:commandButton value="Save" styleClass="save-btn primary-button"  onclick="flagDisableBeforeUnload = true;return userValidation();" rerender="error"/>
                                            </div>
                                            <!-- /. Add Employee Form -->
                                            
                                        </apex:outputPanel>
                                   </div>
                                   <!-- /. User Add Block -->
                                   
                                   <!-- User Edit Block -->
                                   <apex:outputPanel id="EditPanel">
                                   <div class="userEditBlock clearfix FLft" style="display:none; padding-top:20px;">
                                        <!-- Secondary Header -->
                                        <header class="clearfix">
                                            <section id="main-content" class="clearfix">
                                                <h1 style="font-family: 'Honeywell Sans Bold'; font-size: 1.17em; text-transform: capitalize; letter-spacing: 1px;">Edit Employee</h1><!--largeLabelText-->
                                                <div class="dropdown action-dropdown">
                                                    <a aria-expanded="false" class="actions dropdown-toggle" data-toggle="dropdown" href="#" role="button">Actions</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="javascript:void(0);" link-to-url="DeleteEmployeeURL">DELETE EMPLOYEE</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </section>
                                        </header>
                                        <!-- /. Secondary Header -->
                                        
                                        <!-- Edit Employee Form -->
                                        <div class="sfdc-row noSidePad clearfix" style="padding-top:20px;">
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>    
                                                        <dt class="smallLabelText">First Name<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="AEFNameValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class="">
                                                            <apex:inputField styleclass="formField form-control first-field" value="{!co.FirstName}" id="AEFirstName" onchange="flagDisableBeforeUnload = false;"/>
                                                        </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>    
                                                        <dt class="smallLabelText">Last Name<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="AELNameValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class="">
                                                            <apex:inputText styleclass="formField form-control" value="{!co.LastName}" id="AELastName" onchange="flagDisableBeforeUnload = false;"/>
                                                        </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>    
                                                        <dt class="smallLabelText">Email<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="EEmalvalidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class="">
                                                            <apex:inputfield styleclass="formField form-control" value="{!co.Email}"  id="EEmail" onchange="flagDisableBeforeUnload = false;"/>
                                                        </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>    
                                                        <dt class="smallLabelText">Phone<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel id="EPhnValidation" value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class="">
                                                            <apex:inputfield styleclass="formField form-control" value="{!co.Phone}" id="EPhoneNumber" onchange="flagDisableBeforeUnload = false;"/>
                                                        </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                            <div class="sfdc-col sfdc-col-4 details-box">
                                                <article>
                                                    <dl>    
                                                        <dt class="smallLabelText">Role<sup><span class="bodyText required" style="font-size:12px;">&#9913;</span></sup> <apex:outputLabel value="" styleclass="bodyText" style="margin-left:2%;font-size:12px;"/></dt>
                                                        <dt class="">
                                                            <apex:selectList styleClass="formField form-control form-custom-input" value="{!co.Role__c}" size="1" id="ERoleId">
                                                                <apex:selectOptions value="{!Role}"/>
                                                            </apex:selectList>
                                                        </dt>
                                                    </dl>
                                                </article>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix section-row noPad margin-bottom-20">
                                            <apex:actionFunction name="ShowError" reRender="error"/>
                                            <apex:commandButton value="Cancel"  immediate="true" styleClass="cancel-btn linkText" reRender="users" action="{!canceladdUser}"/>                                          
                                            <apex:actionFunction name="updateuser" action="{!updateUser}" oncomplete="showUserTabVal();" reRender="userBlock" />
                                            <apex:commandButton value="Save" styleClass="save-btn primary-button" onclick="flagDisableBeforeUnload = true;return userValidation1();" rerender="error"/>
                                        </div>
                                        <!-- /. Edit Employee Form -->
                                   </div>
                                   </apex:outputPanel>
                                   <!-- /. User Edit Block -->
                                   
                                   
                               </div>
                               <!-- /# users -->
                               
                               <div id="subscriptions" class="tab-pane" ui-view="content" role="tabpanel">
                                   Coming Soon...
                               </div>
                               <!-- /# subscriptions -->
                                   
                           </section>
                       </div>
                   </div>
                   
               </div>
               <!-- /#ng-view -->
           </div>
           <!-- /# ng-view-wrapper -->
           
           <!-- Footer -->
           <c:LCBS_footer_new_latest />
           <!-- /. footer -->
       
       </div>
       <!-- /# body-inner -->
       
       
    </body>
    </apex:outputpanel>
  </html>
  </apex:form>         
</apex:page>